<a href="https://colab.research.google.com/github/krishitha1907/test1/blob/main/labexam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
df= pd.read_excel('/content/drive/MyDrive/ODD.xlsx')
print(df)

     Booking_ID Customer_ID   Destination             Travel_Dates  \
0      BKG01438    CUST5663     BANGALORE  2024-05-27 - 2025-06-02
1      BKG02701    CUST4963       Vietnam  2024/05/02 / 2025/06/28
2      BKG03648    cust5625         Tokyo  2023-12-02 - 2025-03-09
3      BKG02513    CUST4246         Delhi  2023-11-10 - 2024-09-13
4      bkg02903    CUST3901       Chennai  2023-11-09 - 2024-08-22
...         ...         ...           ...                      ...
5245   BKG03093    CUST4090   BRANDYVILLE  2024-01-23 - 2025-04-15
5246   BKG03773    CUST0249   SAINT LUCIA  2023-12-11 - 2025-01-11
5247   bkg04354    CUST3227         Delhi  2024-06-13 - 2025-04-10
5248        NaN         NaN           NaN                      NaN
5249   BKG00861    CUST1529  Turkmenistan  2024-05-11 - 2024-11-06

     Booking_Date  Number_of_Travelers Travel_Package Payment_Method  \
0      2023-07-26                  3.0        Premium     Debit Card
1      2024-02-05                  3.0       Standard    Credit Card
2      2024-07-17                  2.0            NaN            NaN
3      2024-03-15                  6.0         Luxury    Credit Card
4      2023-04-09                  3.0         Luxury         PayPal
...           ...                  ...            ...            ...
5245   2024-08-17                  3.0            NaN  Bank Transfer
5246   2023-04-07                  1.0            NaN            NaN
5247   2024-04-15                  6.0         Luxury  Bank Transfer
5248          NaT                  NaN            NaN            NaN
5249   2024-07-12                  3.0       Standard         PayPal

      Total_Cost              Travel_Agent  \
0       41695.84                  Bass Inc
1       36619.85                Wood Group
2       44543.87           Bridges-Collins
3       41053.94     Edwards, Hill and Lee
4       36238.26                 Hardy Inc
...          ...                       ...
5245    45823.85  King, Porter and Patrick
5246    28937.40              Lane-Hopkins
5247    63021.04                Curry-Duke
5248         NaN                       NaN
5249    77632.50   Lewis, Jones and Morgan

                                      Customer_Feedback
0     Power matter brother guy. Out adult perhaps ge...
1     Position call within size than couple. Effect ...
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
5245                       Understand man remain tough.
5246  Scientist bank wife. Measure prevent fear imag...
5247  Space area above score economy happy spring in...
5248                                                NaN
5249                                                NaN

[5250 rows x 11 columns]

In [6]:
df.head()

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 - 2025-06-02,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,2024/05/02 / 2025/06/28,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,2023-12-02 - 2025-03-09,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,2023-11-10 - 2024-09-13,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,2023-11-09 - 2024-08-22,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN

In [27]:
print(df['Number_of_Travelers'])

0       3.0
1       3.0
2       2.0
3       6.0
4       3.0
       ...
5245    3.0
5246    1.0
5247    6.0
5248    NaN
5249    3.0
Name: Number_of_Travelers, Length: 5250, dtype: float64

In [28]:
print(df['Number_of_Travelers'].isna())

0       False
1       False
2       False
3       False
4       False
        ...
5245    False
5246    False
5247    False
5248     True
5249    False
Name: Number_of_Travelers, Length: 5250, dtype: bool

In [16]:
print(df.groupby('Destination')['Total_Cost'].mean())

Destination
ALBANIA           73664.210000
ALEJANDROSHIRE    78168.730000
ARUBA              8573.290000
Adamsbury         22309.600000
Adamsfurt         15705.440000
                      ...
Zacharyberg       41751.850000
Zambia            20658.930000
Zamoramouth       84404.310000
Zimbabwe          31329.406667
Zimmermantown     59139.600000
Name: Total_Cost, Length: 858, dtype: float64

In [17]:
print(df['Destination'].value_counts())

Destination
Hyderabad           586
Bangalore           570
Chennai             568
Mumbai              558
Delhi               539
                   ...
South Cherylland      1
West Christopher      1
Stephaniebury         1
Port Robertville      1
Turkmenistan          1
Name: count, Length: 858, dtype: int64

In [19]:
print(df['Booking_Date'] == pd.to_datetime(df['Booking_Date']))

0        True
1        True
2        True
3        True
4        True
        ...
5245     True
5246     True
5247     True
5248    False
5249     True
Name: Booking_Date, Length: 5250, dtype: bool

In [31]:
print(df['Travel_Dates'].value_counts())

Travel_Dates
2023-12-02 - 2025-05-09    3
2023-09-18 - 2025-06-07    3
2023-09-21 - 2025-03-08    2
2024-01-13 - 2025-07-06    2
2024-01-03 - 2024-11-26    2
                          ..
2024-06-26 - 2025-07-06    1
2023-08-22 - 2025-07-04    1
2023-11-22 - 2024-12-27    1
2023-10-12 - 2024-10-26    1
2024-05-11 - 2024-11-06    1
Name: count, Length: 5013, dtype: int64

In [36]:
range1=str(df['Travel_Dates'].dt.date.min())+'to'+str(df['Travel_Dates'].dt.date.max())
print(range1)

AttributeError: Can only use .dt accessor with datetimelike values